<section class="content-container questions">
  <div class="container margen">
    <div [hidden]="step > words.length">
      <h1>Evalúa este concepto clave <span class="word">{{item.title}}</span></h1>
      <div class="word-questions" *ngFor="let word of words; let i = index;">
        <ng-container *ngIf="step == (i + 1)">
          <h3>"{{word.name}}"</h3>
          <div class="content-row margen">
            <div class="row">
              <div class="col-4" *ngFor="let quest of item.questions; let i2 = index">
                <div class="content">
                  <h5>{{quest}}</h5>
                  <div class="row options">
                    <label class="col">
                      <input [name]="'res_'+i+'_'+i2" type="radio" value="0"
                             [(ngModel)]="answers['word' + i]['ans' + i2]" required>
                      <div class="box">
                        <span>NO</span>
                      </div>
                    </label>
                    <label class="col">
                      <input [name]="'res_'+i+'_'+i2" type="radio" value="1"
                             [(ngModel)]="answers['word' + i]['ans' + i2]">
                      <div class="box">
                        <span>SI</span>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="button" (click)="nexStep()" [disabled]="!isValidStep(i)">Continuar</button>
        </ng-container>
      </div>
    </div>
    <div [hidden]="step < (words.length + 1)">
      <h1>Este es tu concepto clave {{item.title}} ganador</h1>
      <h3>Sin embargo, si no estás de acuerdo, puedes elegir otro</h3>
      <div class="content-select">
        <div class="row options">
          <label class="col-4" *ngFor="let word of words">
            <input type="radio" name="selected_word" [(ngModel)]="selected_word" [value]="word.name">
            <div class="box">
              <span> {{word.name}}</span>
            </div>
          </label>
        </div>

      </div>

      <button class="button" (click)="continue()">Continuar</button>
    </div>
  </div>
  <app-logo-float></app-logo-float>
</section>
