::ng-deep .content-images {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  margin: 0 auto;
  span{
    position: absolute;
    left: 1px;
    bottom: 2px;
    background-color: #000000;
    color: white;
    padding: 1px 6px;
    font-size: 12px;
    line-height: 1.1;
    border-radius: 1px;
  }
  .content-arm{
    border: 1px solid #000000;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &.option1 {
   .content-arm:nth-child(1){
     grid-row-start: 1;
     grid-row-end: 4;
   }
    .content-arm:nth-child(2){
      grid-column: span 2;
      grid-row: span 2;
    }
    .content-arm:nth-child(3){
      grid-row-start: 3;
      grid-column: span 2;
    }
  }

  &.option2 {
    .content-arm:nth-child(1){
      grid-row-start: 1;
      grid-column: span 3;
    }
    .content-arm:nth-child(2){
      grid-row-start: 2;
      grid-row-end: 2;
      grid-row: span 2;
    }
    .content-arm:nth-child(3){
      grid-row-start: 2;
      grid-column: span 2;
      grid-row: span 2;
    }
  }

  &.option3 {
    .content-arm:nth-child(1){
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column: span 2;
      grid-row: span 2;

    }
    .content-arm:nth-child(2){
      grid-row-start: 2;
      grid-row-end: 2;
      grid-row: span 2;
    }
    .content-arm:nth-child(3){
      grid-row-start: 3;
      grid-column: span 3;
    }
  }
  &.option4 {
    .content-arm:nth-child(1){
      grid-column: span 2;
    }
    .content-arm:nth-child(2){
      grid-row-start: 1;
      grid-row-end: 3;
      grid-row: span 3;
    }
    .content-arm:nth-child(3){
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}
