<section class="pre-home">
  <div class="container">
    <div class="content">
      <h1>¿Sabes que es la lluvia de ideas?</h1>
      <div class="text">
        <p>Es un ejercicio que <strong>consiste en generar la mayor cantidad de pensamientos</strong>
          posibles sobre un tema determinado.</p>
        <p>
          Para entenderlo mejor te pondremos un divertido ejercicio:
          Supongamos que tu mejor amiga o amigo ha adoptado un perro, y antes de
          decidir como llamarlo, quiere escuchar todas las opciones posibles por comunes
          o simples que éstas parezcan. <strong>Todas las ideas son bienvenidas</strong>, aquí lo
          importante es la cantidad.
        </p>
        <p>
          Entonces haremos una lluvia de ideas sobre nombres para un perro. Tendrás un
          total de <strong>un minuto para ingresar todos los nombres que se te ocurran.</strong>
        </p>
        <p>Preparate y continuemos</p>
      </div>
      <div class="content-button">
        <a class="button" [routerLink]="'/lluvia-de-ideas/demo'">Continuar</a>
      </div>
    </div>
  </div>
</section>

