<section class="pre-home">
  <div class="container">
    <div class="content">
      <div class="image-logo">
        <img src="assets/images/logo.png" alt="ABAGÓ BRAND Strategy" title="ABAGÓ BRAND Strategy"/>
      </div>
      <h1>Tablero de Conceptos Clave</h1>
      <div class="text">
        <p>Este ejercicio te ayudará a construir un tablero de conceptos clave,
          herramienta muy valiosa en tu estrategia de marca. Éste está constituido por
          tres conceptos claves, los cuales serán las semillas de tu marca.</p>
        <p>
          El tablero de conceptos clave te ayudará a encaminar la estrategia de tu marca,
          y con él podrás tomar decisiones en tu negocio, más coherentes con tu marca.
        </p>
        <p>
          Este ejercicio tiene una duración aproximada de 30 minutos.
        </p>
        <p>
          ¿Deses construir tu tablero de conceptos clave?
        </p>
      </div>
      <div class="content-button">
        <a class="button" [routerLink]="'/lluvia-de-ideas'">Empezar</a>
      </div>
    </div>
  </div>
</section>
