<section class="pre-home">
  <div class="container">
    <div class="content">
        <h1>Moodboard clave</h1>
      <div class="text">
        <p>Este ejercicio te ayudará a construir un moodboard clave,
          herramienta muy valiosa en tu estrategia de marca. Éste está constituido por
          tres conceptos claves, los cuales serán las semillas de tu marca.</p>
        <p>
          El moodboard clave te ayudará a encaminar la estrategia de tu marca,
          y con él podrás tomar decisiones en tu negocio, más coherentes con tu marca.
        </p>
        <p>
          ¿Deses construir tu moodboard clave?
        </p>
      </div>
      <div class="content-button">
        <a class="button" [routerLink]="''">Empezar</a>
      </div>
    </div>
  </div>
</section>
