<section class="brainstorming-intro">
  <div class="arrow" (click)="back()">
    <img src="assets/images/arrow.png" alt="Volver" title="Volver">
  </div>
  <div class="container">
    <div class="content">
      <h1>Encuentra tu concepto clave <span class="word">{{item.title}}</span></h1>
      <div [innerHTML]="item.content"></div>
      <button class="button" routerLink="/lluvia-de-ideas/iniciar/{{item.id}}">Continuar</button>
    </div>
  </div>
  <app-logo-float></app-logo-float>
</section>
