<section class="select-images">
  <div class="container" *ngFor="let concept of concepts; let i = index;">
    <div *ngIf="step === (i + 1)" class="content">
      <h1>Visualiza tu concepto clave {{concept.title}}</h1>
      <p class="keyword">
        “{{concept.word}}”
      </p>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
          <div class="content">
            <p class="text-left">
              Si no te convencen las
              imágenes que este repertorio,
              puedes subir una
              imagen de tu prefencia que
              tengas en tus posesión o
              que encuentres en internet
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
          <div class="content" *ngIf="selected_image.src">
            <img [src]="concept.image.src" width="200">
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
          <div class="content">
            <div class="submit-image">
              <input type="file" (change)="handleUpload(concept, $event)" accept="image/x-png,image/jpeg"/>
            </div>
            <p class="text-right">
              Incluso puedes crear tus
              propias imágenes, ya sea
              con dibujos, fotografías o lo
              que se te ocurra que represente
              mejor tu concepto
              clave y subirlas
            </p>
          </div>
        </div>
      </div>
      <div class="content-carousel">
        <div class="content">
          <owl-carousel-o [options]="customOptions">
            <ng-template *ngFor="let image of images" carouselSlide>
              <img (click)="selectImage(concept, image, 'normal')" [src]="image">
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
      <div class="content-button">
        <button class="button" (click)="next()" [disabled]="!concept.image">Continuar</button>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="step === (concepts.length + 1)">
    <div class="content">
      <h1>Armemos tu Moodboard</h1>
      <app-moodboard-image [concepts]="concepts" [classSelected]="class_image"></app-moodboard-image>
      <ul>
        <li>
          <label>
            <input type="radio" name="class_select_image" value="option1" [(ngModel)]="class_image">
            Opcion 1
          </label>
        </li>
        <li>
          <label>
            <input type="radio" name="class_select_image" value="option2" [(ngModel)]="class_image">
            Opcion 2
          </label>
        </li>
        <li>
          <label>
            <input type="radio" name="class_select_image" value="option3" [(ngModel)]="class_image">
            Opcion 3
          </label>
        </li>
        <li>
          <label>
            <input type="radio" name="class_select_image" value="option4" [(ngModel)]="class_image">
            Opcion 4
          </label>
        </li>
      </ul>
      <button class="button" (click)="next()">Continuar</button>
    </div>
  </div>

  <div class="container" *ngIf="step === (concepts.length + 2)">
    <div class="content">
      <h1>Listo tu Moodboard clave</h1>
      <div #screen>
        <app-moodboard-image [concepts]="concepts" [classSelected]="class_image"></app-moodboard-image>
      </div>
      <div id="download">
        <img #canvas [hidden]="true">
        <a #downloadLink></a>
      </div>
      <button class="button" (click)="downloadImage()">DESCARGAR</button>
      <p>Esta valiosa herramienta de tu estrategia de marca, te ayudará a enfocar de
        ahora en adelante todas las decisiones del negocio.</p>
      <p>También tiene la ventaja de ayudar a poner en sintonía al equipo de trabajo,
        y lograr que todos hablen el mismo lenguaje en cuanto a marca refiere.</p>
      <p>Imprime tu moodboard y mantenlo a la vista para que influya
        en cada acción que necesite tu negocio.</p>
      <div class="content-button">
        <a class="button">Continuar</a>
      </div>
    </div>
  </div>
</section>

