<section class="select-images">
  <div class="container" *ngFor="let concept of concepts; let i = index;">
    <div *ngIf="step === (i + 1)" class="content">
      <h1>Visualiza tu concepto clave {{concept.title}}</h1>
      <p class="keyword">
        “{{concept.word}}”
      </p>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
          <div class="content">
            <p class="text-left">
              Si no te convencen las
              imágenes que este repertorio,
              puedes subir una
              imagen de tu prefencia que
              tengas en tus posesión o
              que encuentres en internet
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
          <div class="content content-image">
            <div class="noFound">
              <ng-container *ngIf="selected_image.src; else noFound">
                <img [src]="concept.image.src" >
              </ng-container>
              <ng-template #noFound>
                <img src="assets/images/no-found.png">
            </ng-template>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
          <div class="content">
            <div class="submit-image">
              <label for="file-upload" class="custom-file-upload">
                <i class="fa fa-cloud-upload"></i> Subir Imagen
              </label>
              <input id="file-upload" type="file" class="custom-file-input" (change)="handleUpload(concept, $event)"
                     accept="image/x-png,image/jpeg"/>

            </div>
            <p class="text-right">
              Incluso puedes crear tus
              propias imágenes, ya sea
              con dibujos, fotografías o lo
              que se te ocurra que represente
              mejor tu concepto
              clave y subirlas
            </p>
          </div>
        </div>
      </div>
      <div class="content-carousel">
        <div class="content">
          <owl-carousel-o [options]="customOptions">
            <ng-template *ngFor="let image of concept.images" carouselSlide>
              <img (click)="selectImage(concept, image, 'normal')" [src]="image">
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
      <div class="content-button">
        <button class="button not-margen" (click)="next()" [disabled]="!concept.image">Continuar</button>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="step === (concepts.length + 1)">
    <div class="arrow" (click)="back()">
      <img src="assets/images/arrow.png" alt="Volver" title="Volver">
    </div>
    <div class="content select-option-img">
      <h1 style="    font-size: 36px; ">Armemos tu Moodboard</h1>
      <button class="button" (click)="downloadImage()" style="position: fixed; right: 10px; bottom: 0">DESCARGAR
      </button>
      <div class="container-center">
        <div #screen>
          <app-moodboard-image [concepts]="concepts" [classSelected]="class_image"></app-moodboard-image>
        </div>
        <div id="download">
          <img #canvas [hidden]="true">
          <a #downloadLink></a>
        </div>
        <div class="row options">
          <label class="col-2">
            <input type="radio" name="class_select_image" value="option1" [(ngModel)]="class_image">
            <div class="box">
              <span><img src="assets/images/forms/form-1.png"/></span>
            </div>
          </label>
          <label class="col-2">
            <input type="radio" name="class_select_image" value="option2" [(ngModel)]="class_image">
            <div class="box">
              <span><img src="assets/images/forms/form-2.png"/></span>
            </div>
          </label>
          <label class="col-2">
            <input type="radio" name="class_select_image" value="option3" [(ngModel)]="class_image">
            <div class="box">
              <span><img src="assets/images/forms/form-3.png"/></span>
            </div>
          </label>
          <label class="col-2">
            <input type="radio" name="class_select_image" value="option4" [(ngModel)]="class_image">
            <div class="box">
              <span><img src="assets/images/forms/form-4.png"/></span>
            </div>
          </label>
        </div>
      </div>
      <button class="button not-margen" (click)="next()">Continuar</button>
    </div>
  </div>

  <div class="container" *ngIf="step === (concepts.length + 2)">
    <div class="arrow" (click)="back()">
      <img src="assets/images/arrow.png" alt="Volver" title="Volver">
    </div>
    <div class="content">
      <h1>Listo tu Moodboard clave</h1>
      <p>Esta valiosa herramienta de tu estrategia de marca, te ayudará a enfocar de
        ahora en adelante todas las decisiones del negocio.</p>
      <p>También tiene la ventaja de ayudar a poner en sintonía al equipo de trabajo,
        y lograr que todos hablen el mismo lenguaje en cuanto a marca refiere.</p>
      <p>Imprime tu moodboard y mantenlo a la vista para que influya
        en cada acción que necesite tu negocio.</p>
      <div class="content-button">
        <a class="button" [routerLink]="'/end'">Continuar</a>
      </div>
    </div>
  </div>
</section>

