<section class="end">
  <div class="container">
    <div class="content">
      <h1>¡ Muy bien !</h1>
      <div class="text">
        <p>Te deseamos que esta herramienta te sea de gran utilidad para la
          estrategia de marca de tu negocio.</p>
        <p>
          Recuerda que puedes continuar construyendo tu estrategia de marca con
          fantasticas herramientas disponibles para ti en:
        </p>
        <h2>
          ABAGO-STUDIO.COM
        </h2>
      </div>
      <div class="content-button">
        <a class="button" [routerLink]="''">Reiniciar</a>
      </div>
    </div>
  </div>
</section>
