<section class="end">
  <div class="container">
    <div class="content">
      <div class="image-logo">
        <img src="assets/images/logo.png" alt="ABAGÓ BRAND Strategy" title="ABAGÓ BRAND Strategy"/>
      </div>
      <h1>¡ Muy bien !</h1>
      <div class="text">
        <p>Te deseamos que esta herramienta te sea de gran utilidad para la
          estrategia de marca de tu negocio.</p>
        <p>
          Recuerda que puedes continuar construyendo tu estrategia de
          marca con nosotros.
        </p>
        <p>Presentando tu Tablero de Conceptos Clave,<br>
          <strong>obtendrás una sesión gratuita</strong>.</p>
      </div>
      <div class="content-button">
        <a class="button" href="https://svzabalas9.wixsite.com/abago/quienes-somos">Vamos</a>
      </div>
    </div>
  </div>
</section>
