<div class="content-container">
  <div class="container margen">
    <div class="header">
      <h1>Encuentra tu concepto clave <span class="word">{{item.title}}</span></h1>
      <h3>Selecciona máximo tres palabras</h3>
    </div>
    <div class="content-row margen">
      <div class="row">
        <div class="col-3" *ngFor="let word of words; let i = index">
          <div class="content">
            <p>
              <input [id]="'switch-' + i" [(ngModel)]="word.selected" type="checkbox" class="switch-input"
                     [disabled]="getSelecteds().length === 3 && word.selected === false">
              <label [for]="'switch-' + i">{{word.name}}</label>
            </p>
          </div>
        </div>
      </div>
      <button class="button" (click)="submit()" [disabled]="getSelecteds().length !== 3">Continuar</button>
    </div>
  </div>
</div>
